################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DebtCol.Net/ViewModels/TblRStateViewModel.cs
/DebtCol.Net/ViewModels/TblRCountryViewModel.cs
/DebtCol.Net/wwwroot
